* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea,
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span,
a {
  display: inline-block;
}

img {
  max-width: 100%;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #364153;
  margin-bottom: 12px;
}

.sec-heading {
  font-weight: 700;
  font-size: 36px;
  color: #101828;
}

.sec-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #4a5565;
}

.desc-color {
  color: #4a5565;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix {
  clear: both;
}

.hero,
.why-chose-us,
.testimonials,
.membership-form,
.footer {
  background-color: #ffffff;
  padding: 80px 24px;
}

.testimonials {
  background-color: #f9fafb;
}

.footer {
  background-color: #101828;
}

.container {
  width: 100%;
  max-width: 1152px;
  margin: auto;
}

.hero .container .hero-content {
  width: 50%;
  vertical-align: middle;
}

.hero .container .hero-img {
  width: 49%;
  padding: 0 70px;
  vertical-align: middle;
  text-align: center;
}

.hero .container .hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #101828;
  line-height: 75px;
  margin-bottom: 24px;
}

.hero .container .hero-content p {
  font-size: 20px;
  font-weight: 400;
  color: #4a5565;
  line-height: 33px;
  margin-bottom: 32px;
}

.hero .container .hero-content .cta-start {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  line-height: 28px;
  padding: 16px 32px;
  margin-right: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.hero .container .hero-content .cta-learn-more {
  font-size: 18px;
  font-weight: 500;
  color: #364153;
  background-color: #ffffff;
  line-height: 28px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1.6px solid #d1d5db;
  cursor: pointer;
}

.hero .container .hero-img img {
  max-width: 384px;
  min-width: 384px;
  border-radius: 16px;
}

.container .title {
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
}

.container .title .sec-heading {
  margin-bottom: 24px;
}

.container .title .sec-desc {
  max-width: 768px;
  margin: auto;
}

.benefit-cards {
  margin-bottom: 64px;
}

.benefit-cards .card {
  width: 30.7%;
  min-height: 282.6px;
  padding: 32px;
  border-radius: 16px;
  text-align: center;
  display: inline-block;
}

.benefit-cards .blue-card {
  background-color: #dbeafe;
  border: 1px solid #bedbff;
}

.benefit-cards .green-card {
  background-color: #d0fae5;
  border: 1px solid #a4f4cf;
  margin: 0 3.5%;
}

.benefit-cards .purple-card {
  background-color: #f3e8ff;
  border: 1px solid #e9d4ff;
  min-height: 100%;

}

.outer-icon {
  width: 64px;
  height: 64px;
  padding: 16px;
  margin: 0 auto 24px;
  border-radius: 12px;

}

.inner-icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.blue-card .outer-icon {
  background-color: #155dfb;
}

.blue-card .inner-icon {
  border-radius: 8px;
}

.green-card .outer-icon {
  background-color: #009966;
}

.green-card .inner-icon {
  border-radius: 50%;
}

.purple-card .outer-icon {
  background-color: #9810fa;
}

.purple-card .inner-icon {
  border-radius: 4px;
}

.benefit-cards .card h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #101828;
  margin-bottom: 16px;
}

.benefit-cards .card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #364153;
  margin-bottom: 16px;
}

.img-wrapper {
  width: 48%;
}

.img-wrapper img {
  border-radius: 12px;
  vertical-align: middle
}

.content-wrapper {
  width: 47%;
  margin-left: 4%;
  vertical-align: middle;
}

.content-wrapper h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}

.benefit {
  margin-bottom: 16px;
  padding-left: 24px;
  border-left: 4px solid #101828;
}

.benefit h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #101828;
  margin-bottom: 8px;
}

.benefit p {
  color: #4a5565;
}

.reviews {
  margin-bottom: 64px;
}

.reviews .card {
  width: 32%;
  padding: 32px;
  border-radius: 12px;
}

.card.light-blue {
  background-color: #eff6ff;
  border: 1px solid #bedbff;
}

.card.light-green {
  background-color: #ecfdf5;
  border: 1px solid #a4f4cf;
  margin: 0 2%;
}

.card.light-purple {
  background-color: #faf5ff;
  border: 1px solid #e9d4ff;
}

.card-header {
  margin-bottom: 24px;
}

.reviews .card .author-img {
  width: 64px;
  margin-right: 16px;
}

.reviews .card .author-img img {
  border-radius: 50%;
}

.author-info {
  margin-top: 5px;
}

.author-info h4 {
  font-size: 18px;
  font-weight: 700;
  color: #101828;
  line-height: 1.4;
}

.statistics {
  padding: 48px;
  text-align: center;
  background-color: #f1f5f9;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
}

.statistics div {
  width: 25%;
  vertical-align: middle;

}

.statistics div h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #000000;
  margin-bottom: 8px;
}

.membership-form .container {
  max-width: 896px;
}

.form-wrapper {
  padding: 48px;
  background-color: #f9fafb;
  border-radius: 16px;
}

input,
select,
textarea,
.submit {
  padding: 16px 24px;
  font-size: 18px;
  line-height: 1.4;
  background-color: inherit;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  width: 100%;
}

.form-group,
.email,
.phone,
.membership,
.fitness-goals,
.submit {
  margin-bottom: 24px;
}

.first-name,
.last-name {
  width: 48.5%;
}

textarea {
  resize: none;
  height: 96px;
}

.submit {
  padding: 16px 32px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #000000;
}

.form-wrapper p {
  text-align: center;
  font-size: 14px;
}

.footer .container .content {
  margin-bottom: 48px;
}

.footer-info {
  width: 49%;
  margin-right: 3%;
}

.footer-info h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-info p {
  font-size: 18px;
  line-height: 1.625;
  color: #99a1af;
  margin-bottom: 24px;
}

ul {
  list-style: none;
}

.footer-info ul li {
  color: #99a1af;
  margin-right: 24px;
}

.quick-links {
  width: 26%;
}

.contact-info {
  width: 22%;
}

.quick-links h4,
.contact-info h4 {
  font-size: 20px;
  font-weight: 600px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 16px;
}

.quick-links ul li {
  margin-bottom: 12px;
  line-height: 1.625;
}

a {
  text-decoration: none;
  color: #99a1af;
}

.address,
.phone-number,
.hours {
  margin-bottom: 12px;
}

.address div:first-child,
.phone-number div:first-child,
.hours div:first-child {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 4px;
}

.address div:nth-child(2),
.phone-number div:nth-child(2),
.hours div:nth-child(2) {
  color: #99a1af;
  line-height: 1.625;
}

.footer .container .copyright {
  border-top: 1px solid #384154;
  padding-top: 32px;
}

.footer .container .copyright p {
  font-size: 14px;
  color: #6a7282;
}

.copyright div a {
  font-size: 14px;
  color: #6a7282;
}

.copyright div a:first-child,
.copyright div a:nth-child(2) {
  margin-right: 24px;
}